<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Hello Adonis</title>
  {{ css('style') }}
</head>
<body>
  <section>
    <div class="logo"></div>
    <div class="title"></div>
    <div class="subtitle"><p>AdonisJs simplicity will make you feel confident about your code</p></div>

    @loggedIn
    <div class="subtitle" style="margin-top:20dp; background:white;">
      <h2> Hello {{ auth.user.username }} </h2>
    </div>
    <a class="subtitle" href="{{ route('logout') }}">Logout?</a>
    @else
    <div class="subtitle" style="margin-top:20dp;">
      <div style="font-weight:bold">Sign in with</div>
      <div style="background:white; display: inline-block;">
        <a href="{{ route('social.login', { provider: 'google' }) }}">
          <img src="{{ assetsUrl('google-250.jpg') }}" alt="Login with Google!" width="42" height="42" border="0">
        </a>
      </div>
      <div style="background:white; display: inline-block;">
        <a style="background:white" href="{{ route('social.login', { provider: 'github' }) }}">
          <img src="{{ assetsUrl('github-512.png') }}" alt="Login with Github!" width="42" height="42" border="0">
        </a>
      </div>
      <div style="background:white; display: inline-block;">
        <a style="background:white" href="{{ route('social.login', { provider: 'linkedin' }) }}">
          <img src="{{ assetsUrl('linkedin.png') }}" alt="Login with LinkedIn!" width="42" height="42" border="0">
        </a>
      </div>
      <div style="background:white; display: inline-block;">
        <a style="background:white" href="{{ route('social.login', { provider: 'twitter' }) }}">
          <img src="{{ assetsUrl('twitter.png') }}" alt="Login with Twitter!" width="42" height="42" border="0">
        </a>
      </div>
    </div>
    @endloggedIn
  </section>
</body>
</html>
